.App {
  text-align: center;
}

/* .square{
  color: grey;
  background-color: black;
  border: 1 px solid white;
  padding: 15px;
  font-size: larger;
  font-style: normal;
  font-weight: bolder;
  width: 5px;
  height: 5px;  
  text-align: center;
} */

.board_row_1{
  margin-top: 100px;
}

.square {
  width: 100px;
  height: 100px;
  color: grey;
  background-color: black;
  border: 1px solid gray;
  padding: 30px;
  font-size: xx-large;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
}

.restartIcon{
  padding-left: 5px;
  margin-top: 4px;
  color: red;
}

.playAgainButton{
  width: auto;
  height: auto;
  color: blue;
  background-color: lightgreen;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  font-size: larger;
  font-style: normal;
  margin-bottom: -2px;
  font-weight: bolder;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
